/* Small/Phone View ***************/
/* NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*
color: #4b675B;
background-color: #6A8E7F;
color: #ffedc2;
color: #fcfeeb; */

body{
    background-color: #6A8E7F;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
   
}


nav ul {

    list-style-type: none;
    margin-left: -10px;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 0;

    font-family: 'Roboto', sans-serif;
 
    
}
nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fcfeeb;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a {
background-color: #6A8E7F;
 width: 100%;
}


nav ul {
    display: none;
}

nav ul.open {
    display: block;}
#hamburguerBtn span:nth-child(1) {
    display: block;
}

#hamburguerBtn span:nth-child(2) {
    display: none;
}

#hamburguerBtn.open span:nth-child(1) {
    display: none;
}

#hamburguerBtn.open span:nth-child(2) {
    display: block;
}
#hamburguerBtn {
    color: #ffedc2;

}


/* NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV*/


header {

    font-family: 'Merriweather', serif;
    font-size: 10px; 
}
.header-container {
    display: flex;
}
.logo img {
    width: 60px;
    margin-left: 50px;

}

header,
footer {

    background-color: #4b675B;
    color: #ffedc2;
	padding: 10px;
 
}

header h1 {
    color: #ffedc2;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 10px;
    align-items: center; 
}
footer {
    text-align: center;
}
footer img {
    width: 50px;
    height: 60px;
}
footer .copy {
	display: flex;
    font-size: 12px;
    justify-content: center;
	}
.footer-left, .footer-contact {
    font-size: 13px;
}
.footer-hr {
	width: 100%;
}

footer h5 {
    color: #ffedc2;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
footer p {
    font-family: 'Roboto', sans-serif;
}

.social {
    display: flex;
    flex-direction: column ;
    margin-left: 80px;
}
.social a {
    color: #ffedc2;
   margin-left: 10px;

}

.reserve-button, .contact-button {
    background-color: #000000a7;
    height: 80px;
    position: relative;
    top: -85px;
    text-align: center;
 
    
}
.reserve-button a, .contact-button a {
    text-decoration: none ;
    color: #fcfeeb ;
    position: relative;
    top: 25px;
    font-size: 30px;
} 
.contact-button a{ position: relative;
    top: -10px;}
.contact-button { 
    position: relative;
    top: -100px;}
.contact-button p {
    color: #6A8E7F;
    position: relative;
    top: 5px;
    
}
.contact-home {
 margin-top: -65px;

}
.contact-paragraph-home, .reserve-paragraph-home {
    display: none;
}
/*----------- others --------------*/
ul {
    list-style: none;
}


main {
    padding: 0 2%;
    min-height: 20rem;
}


/*----------- templelist --------------*/
.templelist h2 {
    color: #4b675B;
    margin: 1.5px;

}
.templelist {
    text-align: left;
    margin-top: -80px;
    text-align: center;
}
.templelist img {
    width: 200px;
}
.templelist p {
    margin: 1.5px;
}
.temple3 {
    display: none;
}
.temple1, .temple2, .temple3 {
    background-color: #ffedc2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: auto;
}
.seetemple1, .seetemple2 {
    position: relative;
    top: 280px;
}
.services-home {
    display: none;
}
/*-----------weather home --------------*/

.weather {
    background-color: #4b675B;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    color: #fcfeeb;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.weather h2 {
	color: #ffedc2;
    font-size: 15px;
    margin-top: 45px;
}

/*-----------temple page --------------*/
.companys img {
    width: 300px;
}
.companys { 
    justify-content: center;
    margin-bottom: 30px;
 
}

.list1 section  {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ffedc2;

  }

.list1 h2 {
    font-size: 1rem;
    margin-right: 10px;
}
.list1 p {
    margin-left: 8px;
}
.grid1 p {
    display: none;

}

.companys a, .companys button {
    font-family: 'Oswald', sans-serif;
    color: #ffedc2;
    font-size: 15px;
}
.companys button {
font-family: 'Oswald', sans-serif;
padding: 3px;
background-color: #4b675B;
color: #ffedc2;
border: solid #4b675B;
border-radius: 5px;
width: 50px;
margin-left: 80%;
}
.companys h5 {
    color: #ffedc2;
    margin-left: 50%;
    margin-top: -20px;

}

section {
    background-color: #9797974d;
    border: solid #a09e9c;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
section img {
    margin: auto;
}
.menu {
    background-color:#ffedc2;
    height: 80px;
    border: 1px solid #ffedc2;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 1rem;
    justify-content: center;
}
.menu button {
    padding: 1rem;
    margin-top: 15px;
    background-color: #4b675B;
    color: #ffedc2;
    border: solid #4b675B;
    margin-right: 5px;
    border-radius: 5px;
  
}

#grid:hover, #list:hover  {
	color: #fcfeeb;
	background-color: #6A8E7F;
    transition: 0.5s;
}
    /*RESERVATION.HTML*/
form {
   margin-left: 10px;


}
form fieldset {
        margin: 2rem 0;
        border: 1px solid #ffedc2;
        border-radius: 10px;
        padding: .5rem 2%;
        width: 300px;
    
}
form legend {
        color:#ffedc2;
        margin: 0 1rem;
        padding: 0 .5rem;;
    
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #fcfeeb;
    font-size: .8rem ;
   
}
form label.top input {
    -webkit-appearance: none;
    display:block;
    font-size: 1rem;
    border: solid 1px #ffedc2;
    border-radius: 4px;
    padding: .75rem ;
    color: #000000;
    width: 100%;
    min-width: 250px;
    max-width: 20rem;
    margin-top: 2px;
  
}
fieldset select {
    margin-top: 20px;

}
fieldset label {
    color:#ffedc2;
    margin-left: 30px;
   
}

 #start, #departure {
    -webkit-appearance: none;
    display:block;
    font-size: 1rem;
    border: solid 1px #ffedc2;
    border-radius: 4px;
    padding: .75rem ;
    color: #000000;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 10px;
}
.reservation-description {
    width: 80%;

    height: 100px;
}

form input.submitBtn {
    border: none;
    background-color: #ffedc2;
    color: #4b675B;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 150px;
    margin-bottom: 60px;
    margin-left: 25%;
}
.top {
    width: 60%;
}

.popular-hotels img {
    width: 90%;
    margin-bottom: 10px;
    position: relative;
  
}

.popular-hotels h5, h3 {
color: #ffedc2;
}

/* SERVICES.html*/
.services-page {
    display: block;
}
.header-services img, .specialized-services img {
    width: 100%;
}
.header-services h1{
    color:#ffedc2;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #4b675B;
}

.specialized-services h3, .free-services h3{
font-family: 'Roboto', sans-serif;
text-align: center;
}
.specialized-services, .free-services {
color:#fcfeeb;
}
.specialized-services, .free-services {
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ffedc2;
}


.contact-services {
    margin-bottom: 10px;
    margin-top: 19px;
    text-align: center;
}
.free-services img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;

}
.contact-services a {
    text-decoration: none ;
    color: #ffedc2 ;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: #4b675B;
    padding: 5px;

    }

/*RECEPTION.HTML*/
.header-reception img {
    width: 100%
}

.header-reception h1 {
    color: #ffedc2;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.header-reception h4, .h4-included, .h4-food{
    color: antiquewhite;
}
.food-reception img {
    width: 100%;
}
/*templemissionary.html*/
.contact-templemissionary img {
    width: 100%;
}
.map1 {
  text-align: center;
}
.map2, .map3 {
    display: none;
}

#alert { 
    background-color: #ffedc2;
    padding: 5px;

}