/* Larger viewports */
@media only screen and (min-width: 55em) {

	/*NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV*/

	nav ul {
		display: flex;
		justify-content: center;
	}
	nav ul li a {
		border: none;
		border-right: 1px solid rgba(0,0,0,0.3);
		padding: .5rem 1rem;
	}
	nav button {
		display:none;
	}
/*NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV*/
/*GRIIIIIIIIIIIIIIIIIIIIIIIIIIID*/
main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr 1fr 1fr 1fr ;

}
.reserve-home{
	
	grid-column: 1/4;
	grid-row: 1/2;
	
}


.templelist {
	display: flex;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 2/5;
	width: 400px;
	margin-top: -65px;
	
}
.contact-home {
	background-color: rgba(0, 0, 0, 0.664);
	grid-column: 2/3;
	grid-row: 2/4;
	width:500px;
	height: 585px;
}
.contact-button {
	top: -15px;
	background-color: #4b675B;

}
.contact-button p {
color: #ffedc2;
}
.contact-paragraph-home {
	width:500px;
	margin-top: 30px;
}
.flex-contact {
	display: flex;
	flex-direction: column;
}
.weather {
	display: flex;
	flex-direction: column;
	grid-column: 3/4;
	grid-row: 2/5;
	width: 300px;
	margin-top: -57px;
	height: 850px;
	border-radius: 15px;
	margin-left: 10px;
}

.today, .after-tomorrow {
	margin-left: -15px ;
}
.services-home  {
	grid-column: 2/3;
	grid-row: 3/5;
    display: block;
	width: 460px;
	background-color: #ffedc2;;
	margin-top: 260px;
	margin-left: 20px;
	height: 260px;
	border-radius: 15px;
	padding: 10px;

	
}
.services-home h3{
	color: #4b675B;
	padding: 10px;
	text-align: center;
}
.services-button-home {
	background-color: #4b675B;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	width: 200px;
	margin-left: 25%;

}
.services-button-home a {
	text-decoration: none ;
	color: #fcfeeb ;
}
/*GRIIIIIIIIIIIIDDDDDDDDDD*/

	.logo img {
	
		margin-left: -10px;
	
	}
	.social {
	
		
		margin-left: 860px;
		
	}

	
    footer img {
        width: 100px;
        height: 110px;
    }
	footer .map {
		margin-left: 50%;
	}
	footer .copy p {
		margin-left: 240px;
	}

	hr {
		width:40px;
	}
	/*temple page*/
.menu {
	display: flex;
	width: 300px;
	position: relative;
	left: 400px;
}
section {
	margin-top: 120px;
	margin-left: -50px;
}
	/*RESERVATION page*/
.popular-hotels {
	margin-left: 60px;
	margin-top: 40px;
	width: 100%;
}
/*SERVICES.HTML*/
.header-services img{
    width: 100%;
	height: 300px;
}
.specialized-services, .free-services{
display: flex;
flex-direction: row;
}

.specialized-services img {
	width: 50%;
}
.specialized-services h3 {
	margin-left: 25px;
	text-align: left;
}
.free-services img {
	width: 50%;
	height: 300px;
	
}
.free-services {
	align-items: center;
	align-content: center;
}
.free-services h3 {
	text-align: left;
	margin-left: 10px;
	position: relative;
	top: -100px;
}

/*RECEPTION.html*/
.main-reception  {
	display: block;
}
.header-reception img {
	width: 100%;
	height: 300px;
}
.food-reception {
	display: flex;
	margin-bottom: 20px;

}
.food-reception img {
	width: 50%;
	height: 500px;
	
}
.h4-food {
	display: none;
}
/*templemissionary.html*/

.contact-templemissionary img {
   display: none;
	
}
.map3 {
	display: block;
	margin-top: 50px;
	margin-left: 50px ;

}
.map1, .map2{
	display: none;
}

#alert { 
	position: relative;

	width: 95%;



}
}
