/* Larger viewports */
@media only screen and (min-width: 55em) {

	/*NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV*/

	nav ul {
		display: flex;
		justify-content: center;
	}
	nav ul li a {
		border: none;
		border-right: 1px solid rgba(0,0,0,0.3);
		padding: .5rem 1rem;
	}
	nav button {
		display:none;
	}
/*NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV*/
/*GRIIIIIIIIIIIIIIIIIIIIIIIIIIID*/
main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: auto 1fr 1fr 1fr 1fr ;

}
.reserve-home{
	
	grid-column: 1/4;
	grid-row: 1/2;
	
}


.templelist {
	display: flex;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 2/5;
	width: 300px;
	margin-top: -65px;
	
}
.contact-home {
	background-color: rgba(0, 0, 0, 0.664);
	width:600px;
	height: 585px;
}
.contact-button {
	
	background-color: #4b675B;

}
.contact-button p {
color: #ffedc2;
}
.contact-paragraph-home {
	width:400px;
	margin-top: 30px;
}
.flex-contact {
	display: flex;
	flex-direction: column;
}
.weather {
	display: flex;
	flex-direction: column;
	grid-column: 3/4;
	grid-row: 2/5;
	width: 300px;
	background-color:#ffedc2;
	margin-top: -57px;
	height: 900px;
	border-radius: 15px;
}
.services-home  {
	grid-column: 2/3;
	grid-row: 3/5;
    display: block;
	width: 400px;
	background-color: #ffedc2;;
	margin-top: 10px;
	height: 300px;
	border-radius: 15px;
	padding: 10px;
	
}
.services-home h3{
	color: #4b675B;
	padding: 10px;
	text-align: center;
}
.services-button-home {
	background-color: #4b675B;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	width: 200px;
	margin-left: 25%;

}
.services-button-home a {
	text-decoration: none ;
	color: #fcfeeb ;
}
/*GRIIIIIIIIIIIIDDDDDDDDDD*/

	.logo img {
	
		margin-left: -10px;
	
	}
	.social {
		display: flex;
		flex-direction: row;
		margin-top: 10px;
		margin-left: 600px;
		
	}

	
    footer img {
        width: 100px;
        height: 110px;
    }
	footer .map {
		margin-left: 50%;
	}
	footer .copy p {
		margin-left: 240px;
	}

	hr {
		width:40px;
	}
	
}

@media only screen and (min-width: 64em) {
}