/* Media Query for medium+ views */
@media only screen and (min-width: 38.5em) {
	.header-container {
		display: flex;
		flex-direction: row;
	}

	.social {
		margin-left: 50%;
	}

/* --------weather home*/
.weather {
	display: flex;
	flex-direction: row;
}

}