/* Media Query for medium+ views */
@media only screen and (min-width: 38.5em) {
	.header-container {
		display: flex;
		flex-direction: row;
	}

	.social {
		margin-left: 50%;
	}

/* --------main home*/

.flex-contact, .flex-reserve {
	display: flex;
	flex-direction: row;
	height: auto;

}
.contact-paragraph-home, .reserve-paragraph-home  {
    display: block;
	padding-left: 20px;
	color: #ffedc2;
	padding-right: 10px;
}
/* --------templelist home*/
.templelist {
	display: flex;
	
}
.temple1, .temple2 {
	margin-right: 10px;
}
.temple3 {
	display: block;
}
/* --------weather home*/
.weather {
	display: flex;
	flex-direction: row;

}
#companys {
	max-width: 800px; 
	
	}
	.companys h3 {
		display: none;
	}
section {
	margin:  5px 5px 5px 5px ;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	width: 650px;  

}
.list1 a {
	margin-left: 10px;
	margin-top: 15px;
}

}