/* Media Query for medium+ views */
@media only screen and (min-width: 38.5em) {
	.header-container {
		display: flex;
		flex-direction: row;
	}

	.social {
		margin-left: 50%;
	}

/* --------main home*/

.flex-contact, .flex-reserve {
	display: flex;
	flex-direction: row;
	height: auto;

}
.contact-paragraph-home, .reserve-paragraph-home  {
    display: block;
	padding-left: 20px;
	color: #ffedc2;
	padding-right: 10px;
}
/* --------templelist home*/
.templelist {
	display: flex;
	
}
.temple1, .temple2 {
	margin-right: 10px;
}
.temple3 {
	display: block;
}
/* --------weather home*/
.weather {
	display: flex;
	flex-direction: row;

}

section {
	margin:  5px 5px 5px 5px ;
	margin: auto;
	width: 600px;  

}
.list1 a {
	margin-left: 10px;
	margin-top: 15px;
}
.list1 section  {
   
	width: 600px;
	height: 600px;
	font-size: 15px;
	
}
.list1 section img {
	width: 150px;

}
/*reception.html*/
.food-reception img {
	height: 250px;
}

.contact-templemissionary {
margin-left: 25%;
}

}